.jumbotron {
  color: #fff;
  height: 500px;
  background-image: url("images/main.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#features {
  padding: 7% 10%;
}

/* .card-img-top {
  width: 100%;
  height: 25vw;
  object-fit: cover;
} */
